* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: #f6f1e9;
    --lighteal: #A6B7AA;
    --teal: #5C6E6C;
    --yellow: #D2A96A;
    --pink: #D39D87;
    --red: #BB7154;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* text styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3 {
    font-family: 'Lexend';
    font-weight: 600;
}

p, a {
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.name {
    color: var(--pink);
    font-size: 32px;
}

.background {
    height: 100px;
    background-color: var(--white);
}

.position {
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 10px;
    color: var(--teal);
}

/* header styles */

.sec-title {
    font-size: 100px;
    color: var(--yellow);
    -webkit-text-stroke: 1px var(--yellow);
}

.empty {
    color: transparent;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* header styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    /* border: 1px solid blue; */
}

.logo {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    font-size: 18px;
    color: var(--teal);
}

.nav-link:hover {
    cursor: pointer;
    color: var(--yellow);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* header styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hero {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    position: sticky;
}

.title {
    height: 200px;
    line-height: 90px;
}

.title h1 {
    font-size: 82px;
    color: var(--teal);
    position: relative;
    z-index: 5;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn {
    width: 125px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 18px;
    color: var(--white);
    background-color: var(--yellow);
}

.btn:hover {
    color: var(--white);
    background-color: var(--pink);
}

#work {
    background-color: var(--teal);
}

.square {
    width: 430px;
    height: 320px;
    border: var(--yellow) dashed 4px;
    border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* shape styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sparkle {
    height: 50px;
    width: 40px;
    background: var(--yellow);
    mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  
    /* if you will use a different unit than px consider round()
     height: round(__,1px);
     width: round(__,1px);
    */
  }

  .circle {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: 3px solid var(--yellow);
    border-radius: 50%;
  }

  .big {
    width: 284px;
    height: 284px;
    left: 330px;
    top: 190px;
  }

  .small {
    width: 209px;
    height: 209px;
    left: 368px;
    top: 228px;
  }